In [1]:
import pandas as pd
import numpy as np

In [6]:
orders = pd.read_csv('../../data/instacart_2017_05_01/orders.csv')
order_products = pd.read_csv('../../data/instacart_2017_05_01/order_products__prior.csv')

In [7]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [8]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
order_by_day = orders.groupby('order_dow')

## Calculate average number of items per order, by day of week

In [24]:
item_counts = order_products.groupby('order_id').size()

In [25]:
orders_indexed = orders.set_index('order_id')

In [27]:
item_counts.index

Int64Index([      2,       3,       4,       5,       6,       7,       8,
                  9,      10,      11,
            ...
            3421074, 3421075, 3421076, 3421077, 3421078, 3421079, 3421080,
            3421081, 3421082, 3421083],
           dtype='int64', name='order_id', length=3214874)

In [28]:
orders_indexed.index

Int64Index([2539329, 2398795,  473747, 2254736,  431534, 3367565,  550135,
            3108588, 2295261, 2550362,
            ...
            2307371, 3186442,  550836, 2129269, 2558525, 2266710, 1854736,
             626363, 2977660,  272231],
           dtype='int64', name='order_id', length=3421083)

In [32]:
order_items = pd.concat([orders_indexed, item_counts], axis=1)

In [37]:
new_columns = order_items.columns.values
new_columns[6] = 'item_count'
order_items.columns = new_columns

In [38]:
order_items.head()

,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,item_count
order_id,,,,,,,
1,112108,train,4,4,10,9.0,NaN
2,202279,prior,3,5,9,8.0,9.0
3,205970,prior,16,5,17,12.0,8.0
4,178520,prior,36,1,9,7.0,13.0
5,156122,prior,42,6,16,9.0,26.0

In [39]:
order_items.groupby('order_dow').mean()['item_count']

order_dow
0    11.132983
1    10.177484
2     9.543501
3     9.321331
4     9.439436
5     9.881950
6    10.744480
Name: item_count, dtype: float64